node_modules
dist
.DS_Store
.vscode

__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
venv/
env/
ENV/
backend/venv/
backend/dist/
backend/build/

backend/trained_faces/
backend/incident_logs/
answer_scripts/

*.log
.env
.env.local
